.mark:hover {
    fill: red;
}
#selected-view__data {
    width: 600px;
    height: 300px;
    overflow: scroll;
    border: 1px solid #CCC;
    padding: 10px;
}
.selected-view__data-annotations-col {
    padding-left: 10px;
    width: 200px;
}
.selected-text {
    background-color: rgba(255, 0, 255, 0.5);
}
.selected-text-active {
    background-color: rgba(0, 255, 0, 0.5);
}
.row {
    font-family: monospace;
    font-size: 16px;
    height: 18px;
    margin: 0;
}
.selected-view__data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.selected-view__new-annotation-input-container {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #CCF;
}
.selected-view__new-annotation-input {
    width: 100%;
    margin-bottom: 10px;
}
.p-padded-top {
    padding-top: 1.5rem;
}
.noselect {
    color: blue;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.timestamp-row {
    color: #9c9c9c;
    font-size: 12px;
}
.annotation-list__item {
    padding: 5px;
}
.annotation-list__item:hover {
    background-color: rgba(0, 255, 0, 0.1);
    cursor: pointer;
}
.annotation-list__item--active {
    background-color: rgba(0, 255, 0, 0.5);
}
.c-detail-block-base {
    margin-top: 20px;
}

body, .notebook, .notebook textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h3 {
    font-size: 24px;
}

.muted {
    color: #AAA;
}

.notebook-entry-summary-item {
    padding: 10px;
}
.notebook-entry-summary-item a {
    text-decoration: none !important;
}

.notebook-entry-summary-item:hover {
    background-color: #EEE;
}

.notebook-entry-summary-item h3,
.notebook-entry-summary-item p {
    margin: 0;
}
